<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             version="2.0">
    <persistence-unit name="testery"
                      transaction-type="RESOURCE_LOCAL">
        <class>de.diedavids.testery.entity.testcase.Testcase</class>
        <class>de.diedavids.testery.entity.testcase.Testsuite</class>
        <class>de.diedavids.testery.entity.teststep.Teststep</class>
        <class>de.diedavids.testery.entity.testaction.Testaction</class>
        <class>de.diedavids.testery.entity.teststep.result.TeststepResult</class>
        <class>de.diedavids.testery.entity.testaction.ActionScript</class>
        <class>de.diedavids.testery.entity.testaction.Testscript</class>
        <class>de.diedavids.testery.entity.teststep.result.SingleValueTeststepResult</class>
        <class>de.diedavids.testery.entity.teststep.result.TableValueTeststepResult</class>
        <class>de.diedavids.testery.entity.teststep.result.JsonTeststepResult</class>
        <class>de.diedavids.testery.entity.teststep.input.TeststepInput</class>
        <class>de.diedavids.testery.entity.teststep.input.JsonTeststepInput</class>
    </persistence-unit>
</persistence>
